.favThreadsContainer {
  width: 95%;
  margin: 1rem auto;
}

.noFavTitle {
  text-align: center;
}

.favThreadsContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.favThreadsContainer li {
  margin-bottom: 1rem;
}